* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container 
{
    color: #000000;
    background-color: #ffe2e2; 
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;    
}

.menu 
{
    width: 900px; 
    display: flex;
    justify-content: flex-start;
}

.links 
{
    display: flex;
    justify-content: flex-end;
}

.signup
{
    margin-left: 20px;
}

.logo-container 
{
    background-color: #e2bcb7;
    display: flex;
    justify-content: center;
}

.category-container
{
    display: flex;
    justify-content: space-between;
    background-color: #e2bcb7;
    height: 80px;
    padding: 10px 0 20px 0;
}

.category
{ 
    display: flex;
    justify-content: flex-start;
    margin-left: 110px;
}

.top,
.bottom
{
    margin-left: 20px;
}

a.ap:link, 
a.ap:visited,
a.bo:link, 
a.bo:visited,
a.to:link, 
a.to:visited
{
    background-color: #fff5fd;
    color: black;
    border: 2px solid #962d2d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.ap:hover, 
a.ap:active, 
a.bo:hover, 
a.bo:active,
a.to:hover, 
a.to:active
{
    background-color: #ff96ad;
    color: black;
}

.product-container 
{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2bcb7;
}

.product 
{
    width: 1350px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.product-item 
{
    width: 400px;
    height: 400px;
    /*border: 1px solid #fff; */
    flex-wrap: wrap;
}

.desc
{
    text-align: left;
   
}

.add-cart
{
    background-color: white; 
    color: black; 
    border: 2px solid #EF4F4F;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    margin-left: 160px; 
}

.add-cart:hover
{
    background-color: #EF4F4F;
    color: white;
}

a.continue
{
    background-color: #EF4F4F;
    box-shadow: 0 5px 0 #FF7171;
    color: #FFDCDC;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a.continue:hover
{
    background-color: #ce0606;
    cursor: pointer;
}

a.continue:active
{
    box-shadow: none;
    top: 5px;
}

#summary
{
    grid-column: 4 / 6;
    grid-row: 1 / 6;
    background-color: #e2bcb7;
    padding: 0 0 150px 10px;
}

hr
{
    width: 80%;
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.footer 
{
    display: flex;
    justify-content: center;
    background-color: #b67162;
}

.footer-item 
{
    height: 50px;
    padding-top: 15px;
    text-align: center;
}* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container 
{
    color: #000000;
    background-color: #ffe2e2; 
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;    
}

.menu 
{
    width: 900px; 
    display: flex;
    justify-content: flex-start;
}

.links 
{
    display: flex;
    justify-content: flex-end;
}

.signup
{
    margin-left: 20px;
}

.logo-container 
{
    background-color: #e2bcb7;
    display: flex;
    justify-content: center;
}

.category-container
{
    display: flex;
    justify-content: space-between;
    background-color: #e2bcb7;
    height: 80px;
    padding: 10px 0 20px 0;
}

.category
{ 
    display: flex;
    justify-content: flex-start;
    margin-left: 110px;
}

.top,
.bottom
{
    margin-left: 20px;
}

a.ap:link, 
a.ap:visited,
a.bo:link, 
a.bo:visited,
a.to:link, 
a.to:visited
{
    background-color: #fff5fd;
    color: black;
    border: 2px solid #962d2d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.ap:hover, 
a.ap:active, 
a.bo:hover, 
a.bo:active,
a.to:hover, 
a.to:active
{
    background-color: #ff96ad;
    color: black;
}

.product-container 
{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2bcb7;
}

.product 
{
    width: 1350px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.product-item 
{
    width: 400px;
    height: 400px;
    /*border: 1px solid #fff; */
    flex-wrap: wrap;
}

.product-item:hover, .first-item:hover, .last-item:hover, button:hover
{
    display: block;
    padding: 5px 5px 5px 5px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-shadow: #666666;
    font-weight: bold;
    color: #CC3333;        
}
        
.product-item:hover, .first-item:hover, .last-item:hover, button:hover
{
    color: #993366;
    font-weight: bold;
    transform: scale(1.05)；  
}

.product-item:active, .first-item:active, .last-item:active
{
    color: #666666;
}

.product-item:visited, .first-item:visited, .last-item:visited
{
    color: #990033;    
}

.product-image
{
    width: 300px;
    height: 300px;
}

.desc
{
    text-align: left;
   
}

a.continue
{
    background-color: #EF4F4F;
    box-shadow: 0 5px 0 #FF7171;
    color: #FFDCDC;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a.continue:hover
{
    background-color: #ce0606;
    cursor: pointer;
}

a.continue:active
{
    box-shadow: none;
    top: 5px;
}

hr
{
    width: 80%;
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.footer 
{
    display: flex;
    justify-content: center;
    background-color: #b67162;
}

.footer-item 
{
    height: 50px;
    padding-top: 15px;
    text-align: center;
}

.table
{
    margin-left: auto;
    margin-right: auto;
}

.cart
{
    justify-content: center;
    background-color: #e2bcb7;
    align-items: center;
    height: inherit;
}

.remove 
{
	background-color: #e2bcb7;  
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}

.remove:hover 
{
	background-color: #F6E5E9;
}

.table td 
{
	border: #F6DEF6 1px ridge;
	padding: 15px;
    text-align: center;
}

.badge 
{
	font-size: 11px;
    background: #EC4646;
    left: -10px;
    top: -32px;
    border-radius: 50%;
    position: relative;
    color: #F6ECF0;
    text-align: center;
    padding: 5px;
}

#cart
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#cart-item
{
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    background-color: #e2bcb7;
    padding: 10px 0 170px 120px;
}

.quantity
{
    text-align: center;
}

h2, h6
{
    color: #480032;
}

h2
{
    padding-left: 120px;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    background-color: #ffe2e2;
    justify-content: center;
}
        
.flex-container > div
{
    background-color: #FFFFCC;
    color: black;
    width: 650px;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    padding: 20px;       
}

.parcel
{
    text-align: center;
}

h1
{
    text-align: center;
}

.payment-continue
{
    display: block;
    padding-top: 20px;
    padding-left: 550px;
    padding-bottom: 50px;
}

.buy
{
    background-color: #FCAC0C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buy:hover 
{
    background-color: #FFDD7E;
    color: black;
}

.delivery-details
{
    border: none;
    padding: 20px 10px 20px 5px;
}

.delivery-fields
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.delivery-fields:focus 
{
    border: 3px solid #555;
}

#search
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#no-result
{
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    background-color: #e2bcb7;
    padding: 10px 0 170px 120px;
}

.search
{
    margin-left: 150px;
}

input[type=search] 
{
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button 
{
    display: none; 
}


input[type=search] 
{
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 100px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus 
{
    width: 360px; 
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder
{
    color: #999;
}

input::-webkit-input-placeholder
{
    color: #999;
}